
#root {
	margin-left: 100px !important;
	padding-top: 0 !important;
}

.main-wrapper {
	display: flex;
	min-height: 100%;
	.vertical.menu{
		margin: 0;
		border-radius: 0;
	}
}

.editable-area {
	&:hover {
		cursor: pointer;
		color: #6b5858 !important;
		i.icon {
			cursor: pointer;
			color: #6b5858 !important;
		}
	}
}

.editable-area {
	.active > & {
		display: none !important;
	}
}

.input-area {
	:not(.active) > & {
		display: none !important;
	}
}

.card {
	&:first-child {
		border: 2px solid #ff0002 !important;
	}
	text-align: center;
}

//// Super Custom
.hide {
	&.pass {
		display: none;
	}
	&#input-segment {
		display: none;
	}
	&#not-extension-message {
		display: none;
	}
}

.file {
	.label + input {
		display: none;
	}
}

label {
	&.pass {
		display: block;
		margin: 2px;
	}
}
.file-input {
	font-size: 1em;
	border: 1px solid #00b6ad5c;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0;
	display: block;
}

.last-letter {
	color: red !important;
    border-radius: 15px;
    margin: 10px;
    border: 2px solid red;
    text-align: center;
}

.user-id {
	text-overflow: ellipsis;
    overflow: hidden;
}
.home-icon {
	margin: 10px 0;
}

#LAST_CITY {
	margin: 20px;
}
