
#root {
	margin-left: 100px !important;
	padding-top: 0 !important;
}

.main-wrapper {
	display: flex;
	min-height: 100%;
	.vertical.menu{
		margin: 0;
		border-radius: 0;
	}
}

.editable-area {
	&:hover {
		cursor: pointer;
		color: #6b5858 !important;
		i.icon {
			cursor: pointer;
			color: #6b5858 !important;
		}
	}
}

[data-title] {
	.active > & {
		display: none !important;
	}
}

[data-input-block] {
	:not(.active) > & {
		display: none !important;
	}
}
